# Backend Service Port
PORT=3000

# MongoDB connection local
# DATABASE_URL=mongodb://localhost:27017/webapp 
# MongoDB connection with docker
DATABASE_URL=mongodb://mongodb:27017/webapp

# URLs
BACKEND_URL=http://localhost:3000
FRONTEND_URL=http://localhost:5173

# Frontend
VITE_API_URL=http://localhost:3000
