# Backend Service Port
PORT=3000
DOMAIN_BASE=localhost

# MongoDB connection local
# DATABASE_URL=mongodb://localhost:27017/webapp 
# MongoDB connection with docker
DATABASE_URL=mongodb://mongodb:27017/webapp

ACCESS_TOKEN_SECRET=<your-access-token-secret>
REFRESH_TOKEN_SECRET=<your-refresh-token-secret>
ACCESS_TOKEN_EXPIRATION=1h

# URLs
BACKEND_URL=http://localhost:3000
FRONTEND_URL=http://localhost:5173

# Frontend
VITE_API_URL=http://localhost:3000
